<div>
    <div class="pull-right">
        <img #tooltip="matTooltip" matTooltip="{{LocationName}}" class="hover multiline_tooltip"
            (click)="tooltip.toggle()" (mouseenter)="$event.stopImmediatePropagation()"
            (mouseleave)="$event.stopImmediatePropagation()" src="assets/images/Ocarina of Time/{{Item.imageURL}}" />
    </div>
    <div class="pull-right">
        <mat-checkbox [labelPosition]="labelPosition" [(ngModel)]="Revealed" (change)="toggleReveal()"> {{Item.name}}
        </mat-checkbox>
    </div>
    <div class="pull-right" *ngFor="let upgrade of Item.upgrades">
        <mat-checkbox [labelPosition]="labelPosition">{{upgrade.upgradeText}}</mat-checkbox>
    </div>
</div>