.hover{
    cursor: pointer;
}

.icon{
  height: 32px;
  width: 32px;
}

.pull-right{
  display:flex;
  justify-content: flex-start;
}
.pull-left{
  display:flex;
  justify-content: flex-start;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}