<app-spinner-overlay *ngIf="IsWait" overlay="true">
</app-spinner-overlay>


<div *ngIf="RandomizerSession == null">
    <div>
        <mat-form-field>
            <mat-label>Session ID</mat-label>
            <input matInput placeholder="Session ID" [(ngModel)]="session">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="JoinSession()">{{JoinResumeButtonText}}</button>
    </div>
    <div>
        <mat-slide-toggle  color="primary" [(ngModel)]="playerView" (change)="ChangeText()">
            {{SpectatorPlayerSlideToggleText}}
        </mat-slide-toggle>
    </div>
</div>
<div *ngIf="RandomizerSession != null">

    <h1>Session: {{RandomizerSession.SessionID}}</h1>
    <h3>View: {{View}}</h3>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelBasicSettingsOpenState = true"
            (closed)="panelBasicSettingsOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title> 
                    Seed Info
                </mat-panel-title>
                <mat-panel-description class="pull-right" *ngIf="panelBasicSettingsOpenState === false">
                    All the base info for the seed.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Seed</mat-label>
                <input matInput value="{{RandomizerSession.SpoilerLog.Seed}}" disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Version</mat-label>
                <input matInput value="{{RandomizerSession.SpoilerLog.Version}}" disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Logic Rules</mat-label>
                <input matInput value="{{RandomizerSession.SpoilerLog.Settings.LogicRules}}" disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Settings String</mat-label>
                <input matInput value="{{RandomizerSession.SpoilerLog.SettingsString}}" disabled>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelMainItemOpenState = true" (closed)="panelMainItemOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Main Items
                </mat-panel-title>
                <mat-panel-description class="pull-right" *ngIf="panelMainItemOpenState === false">
                    All of the items on the item select screen
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="6" rowHeight="130px">
                <mat-grid-tile *ngFor="let Item of RandomizerSession.SpoilerLog.MainItems">
                    <div style="width: 100%;">
                        <app-spoiler-item [Item]="Item" [PlayerView]="this.playerView"></app-spoiler-item>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelEquipmentOpenState = true" (closed)="panelEquipmentOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Equipment
                </mat-panel-title>
                <mat-panel-description class="pull-right" *ngIf="panelEquipmentOpenState === false">
                    All of the items on the equipment select screen
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="6" rowHeight="130px">
                <mat-grid-tile *ngFor="let Item of RandomizerSession.SpoilerLog.Equipment">
                    <div style="width: 100%;">
                        <app-spoiler-item [Item]="Item" [PlayerView]="this.playerView"></app-spoiler-item>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelSongsOpenState = true" (closed)="panelSongsOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Songs
                </mat-panel-title>
                <mat-panel-description class="pull-right" *ngIf="panelSongsOpenState === false">
                    All of the ocarina songs
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="6" rowHeight="130px">
                <mat-grid-tile *ngFor="let Item of RandomizerSession.SpoilerLog.Songs">
                    <div style="width: 100%;">
                        <app-spoiler-item [Item]="Item" [PlayerView]="this.playerView"></app-spoiler-item>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelDungeonRewardsOpenState = true"
            (closed)="panelDungeonRewardsOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dungeon Rewards
                </mat-panel-title>
                <mat-panel-description class="pull-right" *ngIf="panelDungeonRewardsOpenState === false">
                    All of the boss rewards
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="6" rowHeight="130px">
                <mat-grid-tile *ngFor="let Item of RandomizerSession.SpoilerLog.DungeonRewards">
                    <div style="width: 100%;">
                        <app-spoiler-item [Item]="Item" [PlayerView]="this.playerView"></app-spoiler-item>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel>

        <!-- <mat-expansion-panel (opened)="panelLocationOpenState = true" (closed)="panelLocationOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Locations
                </mat-panel-title>
                <mat-panel-description *ngIf="panelLocationOpenState === false">
                    All of the individual location checks
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile *ngFor="let location of spoilerLog.locations; trackBy: trackByFn">
                        <app-spoiler-location [Location]="location"></app-spoiler-location>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-expansion-panel> -->
    </mat-accordion>
</div>